body {
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
height: 100vh;
font-family: 'Helvetica', 'Arial', sans-serif;
color: white;
font-size: 16px;
text-align: center;
background-color: #010e38;
}

#Steve-Jobs{
    width: 500px;
    height: auto;
    border-radius: 5%;
    border-style: dashed;
}


a{
    color: papayawhip;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12pt;
    border: 2px solid papayawhip;
    padding: 5px;
    border-radius: 5px;
}


#iphone2g{
    width: 500px;
    height: auto;
    border-radius: 5%;
    border-style: dashed;
}


#ipad{
    width: 500px;
    height: auto;
    border-radius: 5%;
    border-style: dashed;
}

#mac{
    width: 500px;
    height: auto;
    border-radius: 5%;
    border-style: dashed;
}


#applelogo1{
    width: 500px;
    height: auto;
    border-radius: 5%;
    border-style: dashed;
}

#applepark1{
    width: 500px;
    height: auto;
    border-radius: 5%;
    border-style: dashed;
}
